*{
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
}
body{
    background-color: #25A18E;
}

.container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.card{
    
    border-radius: 17px;
    box-shadow: 3px 3px 3px 3px #00000070;
    width: 400px;
    background-color: white;
}

header{
    background-color: #25A18E;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    
}
.voltar{
    display: block;
    color: white;
    margin-left: 10px;
    width: 35px;
    height: auto;
}

h3{
    color: white;
    
}

.consultas{
    
}

.options:a{
    margin-bottom: 1px;
}

button{
    background-color: transparent;
    width: 100%;
    border-color: #C0C0C0;
    border-top: 5px;
    border-left: 5px;
    border-right: 5px;
    color: #666666;
    font-size: 16px;
    
}

button:last-child{
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
}

button:hover{
    background-color: rgb(221, 221, 221);
}

.option{
    display: flex;
    flex-direction: column;
    margin-top: 15px ; 
    margin-bottom: 15px;
    margin-left: 20px;
    text-align: left; 
}